{% extends "base.html" %}
{% load humanize %}


{% block content %}
    <div class="types">
        <h1 class="title-type">Actualizacion de Tasa de tipo de afiliación y rango de score</h1>
        <div class="buttons">
            <a class="bts" href="{% url 'tasasnosociales' %}"><h5>Volver</h5></a>
        </div>
        <form method="POST" class="form form2">
            {% csrf_token %}
            {{form.as_p}}
            <button onclick="return confirm('Esta seguro de actualizar este rango de Tasa?')" class="save" type="submit">
                Actualizar
            </button>
        </form>
    </div>
{% endblock %}