{% extends "base.html" %}


{% block content %}
    <div class="types">
        <h1 class="title-type">Actualizacion Rotativo</h1>
        <div class="buttons">
            <a class="bts" href="{% url 'rotativos' %}"><h5>Volver</h5></a>
        </div>
        <form method="POST" class="form">
            {% csrf_token %}
            {{form.as_p}}
            <button onclick="return confirm('Esta seguro de actualizar este rango de Rotativo?')" class="save" type="submit">
                Actualizar
            </button>
        </form>
    </div>

{% endblock %}