{% extends "header.html" %}


{% block content %}
    <div class="cdats">
        <h1 class="title">Nuevo Cdat</h1>
        <form class="form" action="createcdat" method="POST">
            {% csrf_token %}
            <select name="person" class="types" required>
                <option value="">Seleccione tipo de persona</option>
                <option value="NATURAL">NATURAL</option>
                <option value="JURIDICA">JURIDICA</option>
            </select>
            <select name="type" class="types" required>
                <option value="">Selecciones tipo de tasa</option>
                <option value="ACTUAL">ACTUAL</option>
                <option value="CAMPAÑA">CAMPAÑA</option>
            </select>
            <div class="input-datas">
                <label for="since">Monto desde</label>
                <input class="input" id="since" type="text" name="since" required oninput="formatNumber(this)"/>
                <label for="until">hasta</label>
                <input class="input"  id="until" type="text" name="until" required oninput="formatNumber(this)"/>
            </div>
                
            <div class="input-datas">
                <label for="since-amount">Periodo desde</label>
                <input class="input"  id="since-amount" type="number" name="amountsince" required/>
                <label for="until-amount">hasta</label>
                <input class="input"  id="until-amount" type="number" name="amountuntil" required/>
            </div>
            <div>
                
            </div>
            <div class="input-datas down">
                <label for="tasa">Tasa</label>
                <input class="input"  id="tasa" type="text" name="tasa" step="0.01" required/>
            </div>
            <input class="create" type="submit" value="Crear" href="{% url 'cdats' %}"/>
        </form>
        <div class="cont-back">
            <a class="back" href="{% url 'cdats' %}">Volver</a>
        </div>
    </div>
{% endblock %}