{% extends 'header.html' %}
{% load static %}


{% block content %}
    <div class="contain-admin">
        <a class="links-admin" href="{% url 'cdats' %}"><h2>Tasas Cdats</h2></a>
        <a class="links-admin" href="{% url 'cooviahorro' %}"><h2>Tasas Cooviahorros</h2></a>
        <a class="links-admin" href="{% url 'dates' %}"><h2>Calificaciones Digiturno</h2></a>
        <a class="links-admin" href="{% url 'download' %}"><h2>Descargar base Digiturno</h2></a>
        <a class="links-admin" href="https://cdat.coovitel.coop/" target="_blank"><h2>Simulador Cdat</h2></a>
        <a class="links-admin" href="https://cooviahorro.coovitel.coop/" target="_blank"><h2>Simulador Cooviahorro</h2></a>
    </div>
{% endblock %}