{% extends 'layout.html' %}

{% block content %}

    <h1>Tasas de Cooviahorro</h1>

    <a href="{% url 'createcooviahorro' %}"><h5>Crear</h5></a>

    <table>
        <tr>
            <td>Tipo</td>
            <td>Plazo desde</td>
            <td>Monto desde</td>
            <td>tasa</td>
            <td></td>
        </tr>
        {% for ahorro in ahorros %}
            <tr>
                <td>{{ahorro.type}}</td>
                <td>{{ahorro.amountMin}}</td>
                <td>{{ahorro.termMin}}</td>
                <td>{{ahorro.tasa}}</td>
                <td><a href="#">Actualizar</a>
            </tr>
        {% endfor %}
    </table>

    <div>
        <a href="{% url 'admin' %}"><h5>Volver</h5></a>
        <a href="{% url 'user-logout' %}"><h4>Cerrar Sesion</h4></a>
    </div>
{% endblock %}
