{% extends 'layout.html' %}

{% block content %}
    <h1>Tasas de CDATS</h1>
    <a href="{% url 'createcdat' %}"><h4>Crear</h4></a>

    <div>
        <table>
            <tr>
                <td>Tipo</td>
                <td>Monto</td>
                <td>Plazo</td>
                <td>Tasa</td>
                <td></td>
                <td></td>
            </tr>
            {% for cdat in cdats%}
                <tr>
                    <td>{{cdat.type}}</td>
                    <td>{{cdat.since}} a {{cdat.until}}</td>
                    <td>{{cdat.amountsince}} a {{cdat.amountuntil}}</td>
                    <td>{{cdat.tasa}}</td>
                    <td><a href="{% url 'updatecdat' cdat.id%}"><h4>Actualizar</h4></a></td>
                    <td><a href="{% url 'deletecdat' cdat.id %}">Borrar</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div>
        <a href="{% url 'admin' %}"><h5>Volver</h5></a>
        <a href="{% url 'user-logout' %}"><h4>Cerrar Sesion</h4></a>
    </div>
{% endblock %} 