{% extends "layout.html" %}

{% block header %}
    <header>
        <div class="logo-admin"></div>
        <nav class="menu">
            <input class="menu-btn" type="checkbox" name="menu-btn" id="menu-btn">
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu-links">
                <li class="link"><a href="{% url 'admin' %}">Inicio</a></li>
                <li class="link"><a href="{% url 'cdats' %}">Cdat</a></li>
                <li class="link"><a href="{% url 'cooviahorro' %}">Cooviahorro</a></li>
                <li class="link"><a href="#">Credito</a></li>
                <li class="link"><a href="{% url 'user-logout' %}">Cerrar Sesion</a></li>
            </ul>
        </nav>
    </header>
{% endblock%}

{% block content %}
    <div class="cdats">
        <h1 class="title">Nuevo Cooviahorro</h1>
        <form class="form" action="createcooviahorro" method="POST">
            {% csrf_token %}
            <select name="type" class="types" required>
                    <option value="">Seleccione tipo</option>
                    <option value="COOVIAHORRO">COOVIAHORRO</option>
                    <option value="COOVICASA">COOVICASA</option>
                    <option value="COOVIRENTA">COOVIRENTA</option>
                    <option value="COOVIEDUCACION">COOVIEDUCACIÓN</option>
                </select>
                <div class="input-datas">
                    <label for="amountMin">Monto minimo:</label>
                    <input class="input" id="amountMin" type="text" name="amountMin" required oninput="formatNumber(this)"/>
                </div>
                <div class="input-datas">
                    <label for="termMin">Tiempo minimo:</label>
                    <input class="input" id="termMin" type="number" name="termMin" required/>
                </div>
                <div class="input-datas down">
                    <label for="tasa-c">Tasa:</label>
                    <input class="input" id="tasa-c" type="number" name="tasa" required/>
                </div>
                <input class="create" type="submit" value="Crear"/>
        </form>
        <div class="cont-back">
            <a class="back" href="{% url 'cooviahorro' %}"><h5>Volver</h5></a>
        </div>
    </div>

{% endblock %}