{% extends "layout.html" %}

{% block content %}
    <form action="createcdat" method="POST">
        {% csrf_token %}
        <div>
            <label for="since">Monto desde</label>
            <input id="since" type="number" name="since"/>
            <label for="until">hasta</label>
            <input id="until" type="number" name="until"/>
        </div>
        <div>
            
        </div>
        <div>
            <label for="since-amount">Periodo desde</label>
            <input id="since-amount" type="number" name="amountsince"/>
            <label for="until-amount">hasta</label>
            <input id="until-amount" type="number" name="amountuntil"/>
        </div>
        <div>
            
        </div>
        <div>
            <label for="tasa">Tasa</label>
            <input id="tasa" type="numeric" name="tasa" step="0.01"/>
        </div>
        <input type="submit" value="Crear" href="{% url 'cdats' %}"/>
    </form>
    <a href="{% url 'cdats' %}"><h5>Volver</h5></a>
{% endblock %}