{% extends "base.html" %}

{% block content %}
    <div class="cdats">
        <h1 class="title">Nuevo Cooviahorro</h1>
        <form class="form" action="createcooviahorro" method="POST">
            {% csrf_token %}
            <select name="type" class="types" required>
                    <option value="">Seleccione tipo</option>
                    <option value="COOVIAHORRO">COOVIAHORRO</option>
                    <option value="COOVICASA">COOVICASA</option>
                    <option value="COOVIRENTA">COOVIRENTA</option>
                    <option value="COOVIEDUCACION">COOVIEDUCACIÓN</option>
                    <option value="COOVIKIDS">COOVIKIDS</option>
                </select>
                <div class="input-datas">
                    <label for="amountMin">Monto minimo:</label>
                    <input class="input" id="amountMin" type="text" name="amountMin" required oninput="formatNumber(this)"/>
                </div>
                <div class="input-datas">
                    <label for="termMin">Tiempo minimo:</label>
                    <input class="input" id="termMin" type="number" name="termMin" required/>
                </div>
                <div class="input-datas down">
                    <label for="tasa-c">Tasa:</label>
                    <input class="input" id="tasa-c" type="float" name="tasa" required/>
                </div>
                <input class="create" type="submit" value="Crear"/>
        </form>
        <div class="cont-back">
            <a class="back" href="{% url 'cooviahorro' %}"><h5>Volver</h5></a>
        </div>
    </div>

{% endblock %}