{% extends "layout.html" %}

{% block content %}
    <form action="createcooviahorro" method="POST">
        {% csrf_token %}
        <select name="type">
                <option value="">Seleccione tipo</option>
                <option value="Cooviahorro">COOVIAHORRO</option>
                <option value="Coovicasa">COOVICASA</option>
                <option value="Coovirenta">COOVIRENTA</option>
                <option value="Coovieducacion">COOVIEDUCACIÓN</option>
            </select>
            <div>
                <label for="amountMin">Monto minimo:</label>
                <input id="amountMin" type="number" name="amountMin"/>
            </div>
            <div>
                <label for="termMin">Tiempo minimo:</label>
                <input id="termMin" type="number" name="termMin"/>
            </div>
            <div>
                <label for="tasa-c">Tasa:</label>
                <input id="tasa-c" type="number" name="tasa" step="0.01">
            </div>
            <input type="submit" value="Crear"/>
    </form>
    <a href="{% url 'cooviahorro' %}"><h5>Volver</h5></a>
{% endblock %}