{% extends 'header.html' %}
{% load humanize %}

{% block content %}
    <div class="cdats">
        <h1 class="title">Digi Turno</h1>
        <form action="">
                <div>
                    <div>
                        <label for="cityBogota">Bogotá</label>
                        <input type="checkbox" id="cityBogota" name="city" value="Bogotá">
                        <label for="cityTunja">Tunja</label>
                        <input type="checkbox" id="cityTunja" name="city" value="Tunja">
                    </div>
                    <div>
                        <label for="fechaHoy">Hoy</label>
                        <input type="checkbox" id="fechaHoy" name="fecha" value="1">
                        <label for="fecha3dias">3 días</label>
                        <input type="checkbox" id="fecha3dias" name="fecha" value="3">
                        <label for="fecha7dias">7 días</label>
                        <input type="checkbox" id="fecha7dias" name="fecha" value="7">
                    </div>
                </div>
                <input type="submit" value="Buscar">
        </form>

        <table id="myTable">
            <tr>
                <td>Nombre</td>
                <td>Cedula</td>
                <td>Telefono</td>
                <td>Ciudad</td>
                <td>Tiempo</td>
                <td>Servicio</td>
                <td>Atenction</td>
                <td>Recomendacion</td>
                <td></td>
            </tr>
            {% for date in dates %}
            {% if date.name|length > 12 %}
                <tr>
                    <td>{{date.name}}</td>
                    <td>{{date.c_number}}</td>
                    <td>{{date.phone}}</td>
                    <td>{{date.city}}</td>
                    <td>{{date.score_time}}</td>
                    <td>{{date.score_service}}</td>
                    <td>{{date.score_att}}</td>
                    <td>{{date.score_recommen}}</td>
                    <td>{{date.date}}</td>
                    <td><button class="update_turn" data-id="{{ forloop.counter0 }}">Actualizar</button></td>
                    <div id="modal_turn_{{ forloop.counter0 }}" class="w3-modal modal_turn">
                        <div class="w3-modal-content">
                            <div class="w3-container">
                                <span data-id="{{ forloop.counter0 }}" class="close-modal w3-button w3-display-topright">&times;</span>
                                <p>{{date.name}}</p>
                                <p>{{date.phone}}</p>
                                <p>{{date.city}}</p>
                                <select name="" id="">
                                    <option value=""></option>
                                    <option value=""></option>
                                    <option value=""></option>
                                    <option value=""></option>
                                </select>
                                <select name="" id="">
                                    <option value=""></option>
                                    <option value=""></option>
                                    <option value=""></option>
                                    <option value=""></option>
                                </select>
                                <select name="" id="">
                                    <option value=""></option>
                                    <option value=""></option>
                                    <option value=""></option>
                                    <option value=""></option>
                                </select>
                                <select name="" id="">
                                    <option value=""></option>
                                    <option value=""></option>
                                    <option value=""></option>
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </tr>
            {% endif %}

            {% endfor %} 
        </table>

{% endblock %}
