{% extends 'header.html' %}
{% load humanize %}

{% block content %}
    <div class="cdats">
        <h1 class="title">Digi Turno</h1>
        <form action="">
                <div>
                    <div>
                        <label for="cityBogota">Bogotá</label>
                        <input type="checkbox" id="cityBogota" name="city" value="Bogotá">
                        <label for="cityTunja">Tunja</label>
                        <input type="checkbox" id="cityTunja" name="city" value="Tunja">
                    </div>
                    <div>
                        <label for="fechaHoy">Hoy</label>
                        <input type="checkbox" id="fechaHoy" name="fecha" value="1">
                        <label for="fecha3dias">3 días</label>
                        <input type="checkbox" id="fecha3dias" name="fecha" value="3">
                        <label for="fecha7dias">7 días</label>
                        <input type="checkbox" id="fecha7dias" name="fecha" value="7">
                    </div>
                </div>
                <input type="submit" value="Buscar">
        </form>

        <table id="myTable">
            <tr>
                <td>Nombre</td>
                <td>Cedula</td>
                <td>Telefono</td>
                <td>Ciudad</td>
                <td></td>
            </tr>
            {% for date in dates %}
            {% if date.name|length > 12 %}
                <tr>
                    <td>{{date.name}}</td>
                    <td>{{date.c_number}}</td>
                    <td>{{date.phone}}</td>
                    <td>{{date.city}}</td>
                    <td>{{date.date}}</td>
                    <td><a href="{% url 'updateTurn' date.id%}">Actializar</a></td>
                </tr>
            {% endif %}

            {% endfor %} 
        </table>

{% endblock %}
