<header>
    <div class="logo-admin"></div>
    <nav class="menu">
        <input class="menu-btn" type="checkbox" name="menu-btn" id="menu-btn">
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu-links">
            <li class="link"><a href="{% url 'admin' %}">Inicio</a></li>
            <li class="link"><a href="{% url 'cdats' %}">Cdas</a></li>
            <li class="link"><a href="{% url 'cooviahorro' %}">Cooviahorro</a></li>
            <li class="link"><a href="#">Credito</a></li>
            <li class="link"><a href="{% url 'user-logout' %}">Cerrar Sesion</a></li>
        </ul>
    </nav>
</header>