{% extends "index.html" %}

{% block header %}   
<header>
    <div class="logo-admin"></div>
    <nav class="menu">
        <input class="menu-btn" type="checkbox" name="menu-btn" id="menu-btn">
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu-links">
            <li class="link"><a href="{% url 'admin' %}">Inicio</a></li>
            <li class="link"><a href="{% url 'cdats' %}">Cdats</a></li>
            <li class="link"><a href="{% url 'cooviahorro' %}">Cooviahorros</a></li>
            <li class="link"><a href="{% url 'user-logout' %}">Cerrar Sesión</a></li>
        </ul>
    </nav>
</header>
{% endblock header %}

{% block footer %}
    <footer>
        
    </footer>
{% endblock footer %}