
{% block content %}
    <main>
        <div class="cont">
            <div class="start">
                <button class="bt1 act">INICIAR SESIÓN</button>
                <button class="bt2">REGISTRARSE</button>
            </div>
            <div class="contain">
                <div class="logo"></div>
                <div class="login see">
                    <h1 class="title tlsmall">Iniciar Sesión</h1>
                    <form action="{% url 'login' %}" method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}" />
                        <p class="login"><input type="submit" value="Iniciar Sesion"></p>
                    </form>
                    <p class="recover">
                        <a href="{% url "password_reset" %}">
                            Olvido su contraseña?
                        </a>
                    </p>
                </div>

                <div class="register">
                    <h1 class="title tlsmall">Registrarse</h1>
                    <form method="POST" autocomplete="off">
                        {% csrf_token %}

                        {{registerform.as_p}}

                        <input class="button rg" type="submit" value="Registrarse"/>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}