{% extends 'layout.html' %}

{% block header %}
    <header>
        <div class="logo-admin"></div>
        <nav class="menu">
            <ul class="menu-links">
                <li class="link"><a>Inicio</a></li>
                <li class="link"><a>Cdats</a></li>
                <li class="link"><a>Coociahorros</a></li>
                <li class="link"><a>creditos</a></li>
                <li class="link"><a>Cerrar Sesion</a></li>
            </ul>
        </nav>
    </header>
{% endblock%}

{% block content %}
    <div class="contain-admin">
        <h1>Administrables</h1>
        <a href="{% url 'cdats' %}"><h2>CDATS</h2></a>
        <a href="{% url 'cooviahorro' %}"><h2>Cooviahorro</h2></a>
        <a href="#"><h2>Credito</h2></a>
        <a href="{% url 'user-logout' %}"><h4>Cerrar Sesion</h4></a>
    </div>
{% endblock %}