{% extends 'header.html' %}
{% load static %}


{% block content %}
    <div class="contain-admin">
        <h1 class="title">Administrables</h1>
        <div class="options">
            <a class="links-admin" href="{% url 'cdats' %}"><h2>Cdats</h2></a>
            <a class="links-admin" href="{% url 'cooviahorro' %}"><h2>Cooviahorros</h2></a>
            <a class="links-admin" href="https://cdat.coovitel.coop" target="_blank"><h2>Simulador Cdat</h2></a>
            <a class="links-admin" href="#"><h2>Simulador Cooviahorro</h2></a>
        </div>
    </div>
{% endblock %}