{% extends "index.html" %}

{% block header %}
    <header>
        <div class="logo-admin"></div>
        <nav class="menu">
            <input class="menu-btn" type="checkbox" name="menu-btn" id="menu-btn">
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu-links">
                <li class="link"><a href="{% url 'admin' %}">Inicio</a></li>
                <li class="link"><a href="{% url 'cdats' %}">Cdats</a></li>
                <li class="link"><a href="{% url 'cooviahorro' %}">Cooviahorros</a></li>
                <li class="link"><a href="#">Créditos</a></li>
                <li class="link"><a href="{% url 'user-logout' %}">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
{% endblock%}

{% block content %}
    <div class="cdats">
        <h1 class="title">Actualizacion Cooviahorro</h1>
        <form method="POST" class="form">
            <h2 class="title-sm">{{cooviahorro.type}}</h2>
            {% csrf_token %}
            <div class="input-datas">
                <label for="amountMin">Monto minimo:</label>
                <input class="input" id="amountMin" type="text" name="amountMin" value={{cooviahorro.amountMin}} oninput="formatNumber(this)"></input>
            </div>
            <div class="input-datas">
                <label for="termMin">Tiempo minimo:</label>
                <input class="input" id="termMin" type="number" name="termMin" value={{cooviahorro.termMin}}></input>
            </div>
            <div class="input-datas down">
                <label for="tasa">Tasa:</label>
                <input class="input"  id="tasa" type="text" name="tasa" step="0.01" value={{cooviahorro.tasa}}></input>
            </div>
            <input class="create" type="submit" value="Actualizar"/>
        </form>
        <div class="cont-back">
            <a class="back" href="{% url 'cooviahorro' %}"><h5>Volver</h5></a>
        </div>
    </div>

{% endblock %}