{% extends 'base.html' %}
{% load static %}


{% block content %}
        <div class="opt">
            <a href="{% url 'admin' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 1024 1024" fill="#000000" class="icon" version="1.1"><path d="M669.6 849.6c8.8 8 22.4 7.2 30.4-1.6s7.2-22.4-1.6-30.4l-309.6-280c-8-7.2-8-17.6 0-24.8l309.6-270.4c8.8-8 9.6-21.6 2.4-30.4-8-8.8-21.6-9.6-30.4-2.4L360.8 480.8c-27.2 24-28 64-0.8 88.8l309.6 280z" fill=""/></svg>
            </a>
            <div class="content-option">
                <h3>Tasas y Parametros</h3>
                <div>
                    <ul class="links-opt">
                        <a href="{% url 'asociados' %}">
                            <li class="cta">
                                <span>Tipos de Afiliación</span>
                                <svg width="15px" height="10px" viewBox="0 0 13 10">
                                    <path d="M1,5 L11,5"></path>
                                    <polyline points="8 1 12 5 8 9"></polyline>
                                </svg>
                            </li>
                        </a>
                        <a href="{% url 'nosociales' %}">
                            <li class="cta">
                                <span>Lineas Credito No Sociales</span>
                                <svg width="15px" height="10px" viewBox="0 0 13 10">
                                    <path d="M1,5 L11,5"></path>
                                    <polyline points="8 1 12 5 8 9"></polyline>
                                </svg>
                            </li>
                        </a>
                        <a href="{% url 'tasasnosociales' %}">
                            <li class="cta">
                                <span>Tasas Credito No Sociales</span>
                                <svg width="15px" height="10px" viewBox="0 0 13 10">
                                    <path d="M1,5 L11,5"></path>
                                    <polyline points="8 1 12 5 8 9"></polyline>
                                </svg>
                            </li>
                        </a>
                        <a href="{% url 'fidelizacion' %}">
                            <li class="cta">
                                <span>Linea Fidelización</span>
                                <svg width="15px" height="10px" viewBox="0 0 13 10">
                                    <path d="M1,5 L11,5"></path>
                                    <polyline points="8 1 12 5 8 9"></polyline>
                                </svg>
                            </li>
                        </a>
                        <a href="{% url 'sociales' %}">
                            <li class="cta">
                                <span>Lineas Sociales</span>
                                <svg width="15px" height="10px" viewBox="0 0 13 10">
                                    <path d="M1,5 L11,5"></path>
                                    <polyline points="8 1 12 5 8 9"></polyline>
                                </svg>
                            </li>
                        </a>
                        <a href="{% url 'asociadostype' %}">
                            <li class="cta">
                                <span>Tipos de Asociados</span>
                                <svg width="15px" height="10px" viewBox="0 0 13 10">
                                    <path d="M1,5 L11,5"></path>
                                    <polyline points="8 1 12 5 8 9"></polyline>
                                </svg>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="content-option">
                <h3>Ajustes Descuentos Tasa</h3>
                <div>
                    <ul class="links-opt">
                        <a href="{% url 'ajustescore' %}">
                            <li class="cta">
                                <span>Ajuste Score</span>
                                <svg width="15px" height="10px" viewBox="0 0 13 10">
                                    <path d="M1,5 L11,5"></path>
                                    <polyline points="8 1 12 5 8 9"></polyline>
                                </svg>
                            </li>
                        </a>
                        <a href="{% url 'ajusteaporte' %}">
                            <li class="cta">
                                <span>Ajuste Aportes</span>
                                <svg width="15px" height="10px" viewBox="0 0 13 10">
                                    <path d="M1,5 L11,5"></path>
                                    <polyline points="8 1 12 5 8 9"></polyline>
                                </svg>
                            </li>
                        </a>
                        <a href="{% url 'ajusteplazo' %}">
                            <li class="cta">
                                <span>Ajuste Plazo</span>
                                <svg width="15px" height="10px" viewBox="0 0 13 10">
                                    <path d="M1,5 L11,5"></path>
                                    <polyline points="8 1 12 5 8 9"></polyline>
                                </svg>
                            </li>
                        </a>
                        <a href="{% url 'ajustecdat' %}">
                            <li class="cta">
                                <span>Ajuste CDAT</span>
                                <svg width="15px" height="10px" viewBox="0 0 13 10">
                                    <path d="M1,5 L11,5"></path>
                                    <polyline points="8 1 12 5 8 9"></polyline>
                                </svg>
                            </li>
                        </a>
                        <a href="{% url 'ajustecooviahorro' %}">
                            <li class="cta">
                                <span>Ajuste Cooviahorro</span>
                                <svg width="15px" height="10px" viewBox="0 0 13 10">
                                    <path d="M1,5 L11,5"></path>
                                    <polyline points="8 1 12 5 8 9"></polyline>
                                </svg>
                            </li>
                        </a>
                        <a href="{% url 'descuentos' %}">
                            <li class="cta">
                                <span>Tipo y porcentaje de Descuentos</span>
                                <svg width="15px" height="10px" viewBox="0 0 13 10">
                                    <path d="M1,5 L11,5"></path>
                                    <polyline points="8 1 12 5 8 9"></polyline>
                                </svg>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
{% endblock %}