.content {
    margin: 50px;
    height: 90vh;
    display:flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #cdcdcf;
    border-radius: 8px;
}
  
label {
    font-size: 20px;
    color: #333;
    margin-bottom: 8px;
    display: block;
}
  
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
  
  
button[type="submit"] {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #2c3870;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
}
  
button[type="submit"]:hover {
    background-color: #202d54;
}
.content {
    margin: 20px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}


.front h1 {
    text-align: center;
}

form p  {
    display: flex;
    flex-direction: column;
}
form p label {
    text-align: center;
    margin: 3px;
    font-weight: 700;
}

form p input {
    padding: 10px 20px;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
}

.recover {
    text-align: center;
}
.alert-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--colorTwo); /* Fondo */
    color: var(--colorWhite); /* Texto */
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-family: Arial, sans-serif;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.alert-message.show {
    opacity: 1;
}
